
{% if admin %}
    {% extends "adminLayout.html" %}
{% else %}
    {% extends "visitLayout.html" %}  
{% endif %}
    
{% block content %}
<div style="padding: 10px;">
    {% for i in data %}
        <a href="{{url_for('comments',p=i['Name'])}}">
            <button style="height:50px;width: 500px;cursor: pointer;box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);border: none;display:list-item;background-color:rgb(248, 241, 241);border-radius: 10px;margin:auto;margin-top: 10px;text-decoration: none;">
                <h1 style="text-align: center;">{{i['Name']}}</h1>
            </button>
        </a>
    {% endfor %}
</div>
{% endblock content %}