{% if admin %}
    {% extends "adminLayout.html" %}
{% else %}
    {% extends "visitLayout.html" %}  
{% endif %}

{% block content %}
<form method=POST>
    {{form.hidden_tag()}}
<div style="padding: 10px;text-align: center;">
    {{form.comment(rows="4",cols="50",dir="rtl",style="margin-top: 10px;",print=text)}}
</div>
<div style="justify-content: center;display: flex;align-items: center;">
    {{form.submit(style="color: #8fd7fc;background-color: white;border: none;cursor: pointer;")}}
    <!-- <button style="color: #8fd7fc;background-color: white;border: none;cursor: pointer;">הוסף תגובה</button> -->
    
</div>
</form>

{% endblock content %}